.container_banner{
  width: 100%;
  height: 50rem; 
  background-image: url('../assets/Banner.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_space{
  width: 100%;
  display: flex;
  height: 80vh;
}

.container_vazio{
  display: flex;
  width: 45%;
}

.text_atrativo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}


.title_banner{
  font-family: "Barlow", sans-serif;
  font-weight:  800;
  font-style: normal;
  font-size: 70px;
}

.text_banner{
  font-family: "Barlow", sans-serif;
  font-weight:  500;
  font-style: normal;
  font-size: 30px;
}

.space_one{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  flex: 2;
  padding-bottom: 30px;
}
.space_two{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}


.container_info{
  background-image: url('../assets/bg_babershop_listras.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 90%;
  height: 18rem;
  margin-bottom: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 5px 10px 15px rgba(255, 30, 0, 0.1);
}

.container_info:hover{
  box-shadow: 5px 5px 15px rgba(0, 26, 255, 0.2);
  transition: 1s all linear;
}

.box_info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 60%;
}

.card_info{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #000;
  flex-direction: column;
  height: 100%;
}

.card_info img{
  width: 50px;
}

.card_info h2{
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 3px solid #AB0A0A;
  color: #fff;
}


.box_descr{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.card_data{
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}

.card_data p{
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  width: 60%;
}






@media (max-width:1500px){
  .title_banner{
    font-size: 60px;
  }
  .text_banner{
    font-size: 25px;
  }
}

@media (max-width:1270px){
  .container_banner{
    background-image: url('../assets/Banner_notbook.png');
  }
  .container_vazio{
    width: 30%;
  }
  .text_atrativo{
    width: 70%;
  }
}

@media (max-width:1000px){
  .title_banner{
    font-size: 50px;
  }
  .text_banner{
    font-size: 20px;
  }
  .container_vazio{
    width: 20%;
  }
  .text_atrativo{
    width: 80%;
  }
  .card_data p{
    width: 80%;
  }
}

@media (max-width:770px){
  .container_banner{
    background-image: url('../assets/Banner_celular.png');
  }
  .title_banner{
    font-size: 40px;
    text-align: center;
  }
  .text_banner{
    font-size: 20px;
    text-align: center;
  }
  .container_vazio{
    width: 30%;
  }
  .text_atrativo{
    width: 70%;
  }

  .card_data p{
   font-size: 14px;
   width: 100%;
   margin-top: -10px;
  }

  .card_info h2{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .card_info img{
    width: 40px;
  }

   .card_info{
    justify-content: flex-end;
   }

   .card_data{
    justify-content: flex-start;
   }


  
  
  
}
@media (max-width:630px){
  .title_banner{
    font-size: 35px;
    text-align: center;
  }
  .text_banner{
    font-size: 17px;
    text-align: center;
  }
  .container_vazio{
    width: 25%;
  }
  .text_atrativo{
    width: 75%;
  }
  .container_info{
    width: 95%;
  }
  
  
}
@media (max-width:470px){
  .container_vazio{
    width: 20%;
  }
  .text_atrativo{
    width: 80%;
    padding: 20px;
  }

  .card_info img{
    width: 30px;
    margin-top: 30px;
  }

  .card_data p{
    font-size: 12px;
    width: 90%;
   }
 
   .card_info h2{
     font-size: 14px;
   }

   .container_info{
    padding: 0px;
   }
  
   .card_data{
    justify-content: flex-start;
   }

   .container_info{
    width: 100%;
    justify-content: center;
  }

  .container_info{
    height: 15rem;
  }
 
  
}
@media (max-width:370px){
  .title_banner{
    font-size: 30px;
    text-align: center;
  }
  .text_banner{
    font-size: 15px;
    text-align: center;
  }
  .container_vazio{
    width: 10%;
  }
  .text_atrativo{
    width: 90%;
    padding: 20px;
  }
  
}