.block_bg {
  width: 100%;
  height: 80%; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box_carosel {
  width: 100%;
  height: 60rem; 
  margin-top: 200px;
  background-image: url('../assets/BG_CAROSEL.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title_text {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.title_blue {
  color: #1738AA;
}

.title_red {
  color: #AB0A0A;
}

.carouselContainer {
  width: 100%; 
  position: relative;
}

.list {
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide {
  width: 500px;
  height: 600px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 10px;
  border: 2px solid #fff;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.redCard {
  background-color: #6b0808;
}

.blueCard {
  background-color: blue;
}

.act {
  opacity: 1;
  transform: translateX(0) scale(1.1);
  z-index: 3;
  pointer-events: auto;
}

.next,
.prev{
  opacity: 1;
  transform: translateX(110%) scale(0.7);;
  z-index: 2;
  pointer-events: auto;
}

.prev {
  transform: translateX(-110%) scale(0.7);
}

.slideImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.slideText {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0px 50px 0px;
}

.slideButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slideButtons a {
  text-decoration: none;
}

.slideButtons button {
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.instagramButton {
  display: flex;
  align-items: center; 
}

.instagramIcon {
  margin-left: 20px;
  font-size: 25px;
}

.slideButtons button:hover {
  background-color: #333333;
}

@media (max-width: 1600px) {
  .prev {
    transform: translateX(-110%);
  }
  
  .next {
    transform: translateX(110%);
  }
}

@media (max-width: 980px) {
  .prev {
    transform: translateX(-130%);
  }
  
  .next {
    transform: translateX(130%);
  }
  
  .slideImage {
    width: 180px;
    height: 180px;
  }
  .slide {
    width: 300px;
    height: 500px;
  }
  .title {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .prev {
    transform: translateX(-110%);
  }
  
  .next {
    transform: translateX(110%);
  }
  
  .slideImage {
    width: 150px;
    height: 150px;
  }
  .slide {
    width: 250px;
    height: 400px;
  }
  .slideText {
    font-size: 20px;
  }
  .slideButtons button {
    font-size: 16px;
    padding: 5px 10px;
  }
  .instagramIcon {
    font-size: 16px;
  }
  .box_carosel {
    height: 50rem;
  }
}