.container_infocard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 15px;
}
.box_infocard{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.box_infocard h3{
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    
}

.infocard_text{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
}

.card_prices{
    width: 80%;
    height: 830PX;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}


@media (max-width: 1130px){
    .box_infocard{
        width: 100%;
    }
}

@media (max-width: 800px){
    .card_prices{
        width: 95%;
    }
    .infocard_text{
        width: 80%;
    }
}

@media(max-width:650px){
    .card_prices{
        height: 100%;
    }
    .box_infocard h3{
        font-size: 35px;
    }
    .infocard_text{
        font-size: 16px;
    }
}




